<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registered Homes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <style>
    body {
      font-family: Arial, sans-serif;
      background: #fff;
      margin: 0;
      padding: 1rem;
    }

    .navbar {
      background: #e53e3e;
      padding: 1rem;
width:600px;
      display: flex;
      justify-content: space-between;
    }

    .navbar a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      padding: 0.5rem 1rem;
transition: transform 0.1s ease, box-shadow 0.3s ease;
           
 background: #e53e3e;
      border-radius: 5px;
    }
 .navbar a:hover {
        background-color: #c62835;
         transform: translateY(-7px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        
      }
    .navbar a:active{
      transform: translateY(0);
  box-shadow: none;
        
      }
    h1, h2 {
      color: #e53e3e;
    }
</style>
</head>
<body>

  <div class="navbar">
    <a href="/"> Home</a>
<a href="/booking">Booking </a>
<a href="/workers">Workers</a>
<a href="/host-home">host-home</a>    
<a href="/add-home">Login</a>
  </div>
<h1> booking</h1>
</body>
</html>
